{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/post-bg.jpg')}}')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <h2 class="subheading"></h2>
              <span class="meta">Posted by
                <a href="#">"{{post.name}}"</a>
                on {{post.date}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article method='get'>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
    
            {{post.content}}
            
            <br>
            <br><div class="clearfix">
          <a class="btn btn-primary float-right" href="/dislike/{{post.sno}}"> Dislike (<u>{{post.dislikes}})</a>
          <a class="btn btn-primary float-left" href="/like/{{post.sno}}">Like (<u>{{post.likes}}</u>)</a>
        </div>
      </div>
    </div>
  </div>
            
          </div>
        </div>
      </div>
    </article>
    

   {% endblock %}